* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: rgba(27, 46, 63, 0.932);
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  position: relative;
  height: 20vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: rgb(196, 73, 73);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 25rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left p {
  text-align: center;
  padding: 10px;
}

.x,
.y,
.z {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h6 {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
}

header p {
  font-size: 2rem;
  color: rgb(255, 166, 0);
  text-align: center;
  position: absolute;
  width: 100%;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.again {
  position: relative;
  top: 5rem;
}

.right {
  position: relative;
  background: none;
  color: inherit;
  font-size: 5rem;
  padding: 2rem;
  display: block;
  margin-right: 8rem;
}

.right p {
  text-align: center;
}

.amount {
  border: 4px solid #eee;
  top: 50%;
  padding: 2rem 2rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}
